@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;0,900;1,300&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    min-height: 450px;
    padding: 1% 11%;
    background-color: #1F2937;
}

.header-nav {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 900;
}

.header-nav ul,
.header-nav a,
.hero-secondary {
    color: #E5E7EB;
}

.header-nav ul,
.hero-secondary {
    font-size: 18px;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    gap: 24px;
}

.header-nav a {
    text-decoration: none;
}

.hero-block {
    display: flex;
    padding: 80px 0;
    gap: 40px;
    align-items: center;
}

.hero-text {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.hero-text-title {
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
}

.hero-block button {
    border: 0;
    margin-top: 20px;
}

button {
    background-color: #3882F6;
    color:#F9FAF8;
    font-weight: 900;
    width: 140px;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 18px;
}

.hero-image {
    flex: 1;
    display: flex;
    color: #F9FAF8;
    background-color: #6f7885;
    justify-content: center;
    align-items: center;
    margin: 12px 0;
    height: 220px;
}

.header-nav ul,
.hero-block h1,
.hero-block p {
    margin: 0;
    padding: 0;
}

.main-content-container-1,
.main-content-container-2 {
    display: flex;
    flex-direction: column;
    padding: 0 11%;
}

.main-content-container-1 h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    text-align: center;
}

.image-block {
    display: flex;
    justify-content: center;
    gap: 40px;
    padding: 24px;
    flex-wrap: wrap;
    margin-bottom: 100px;
}

.card {
    flex-basis: 175px;
    text-align: center;
    color: #64686e;
    flex-shrink: 0;
}

.card p {
    margin: 8px;
}

.block-img {
    border: 4px solid #3882F6;
    height: 175px;
    border-radius: 24px;
}

.quote-section {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote-container {
    padding: 75px 525px;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    color: #1F2937;
}

.thor {
    font-size: 24px;
    font-weight: 900;
    color: #1F2937;
    text-align: right;
    padding: 0 65px;
    margin-top: -36px;
}

.cta-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    padding: 3% 16%;
    margin: 100px 0;
    border-radius: 12px;
}

.cta-bold {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.cta-text {
    font-size: 18px;
    color: #F9FAF8;
}

.cta-section button {
    border: 2px solid #F9FAF8;
}

.footer {
    background-color: #1F2937;
    text-align: center;
    color: #F9FAF8;
    font-size: 18px;
    padding: 36px;
}